/有用python进行过数据分析或是爬虫程序开发经验/熟练使用MongoDB，Mysql，neoj等图数据库/对数据结构 程序设计与算法分析有较深的功底/
/ 良好的英文读写能力/ 精通Python脚本语言，有独立设计网页架构并实现的经验/ 熟练Linux开发环境,有良好编程习惯和文档编写习惯/ 在工作中具有主动性，具备良好的学习能力，开创性思维和应变能力/

/理解 HDFS 体系架构，并能给予Hive HDFS python R Spark Zeus等工具构建离线系统 /利用大数据平台实现对数据的分析和处理 /负责各类离线系统的业务调研，并与公司其他部门负责沟通协调/负责离线系统中数据处理工作（数据采集 清洗 汇总 集成等）/负责协助完成离线系统中数据上下层衔接处理工作 /负责各类离线系统的开发 部署等工作 /负责各种高并发场景解决方案/具有良好的逻辑思维能力，可以独立承担工作压力，善于学习，与团队沟通无障碍 /
/具备React/Vuejs/AngularJS等至少一种主流前端框架的使用经验，熟悉前端常见工具库和框架，熟练掌握NodeJS webpack gulp less sass等前端开发工具，对于前端性能 前端安全 自动化测试等有实际应用或处理经验 /对前端工程化与模块化开发有一定了解 /熟悉一门非前端的语言（如Java/C#/PHP/C/C++/Python/Ruby），并有实践经验尤佳 /具备良好的团队协作精神，能利用自身技术能力提升团队整体研发效率，提高团队影响力 /对技术有激情，喜欢钻研，能快速接受和掌握新技术，有较强的独立 主动的学习能力，良好的沟通表达能力和团队协作能力/
/具有扎实的数学 模式识别 计算机视觉 图像处理理论基础和软件编程经验/在学校从事过数学 图像 机器学习方向课题研究和相关比赛经验者优先/精通C/C++/Python开发语言编程/英语较好，能直接阅读英文科技论文/肯干事 能吃苦有较强自主学习和动手能力 及时跟进业界技术更新，良好的分析问题 解决问题 团队沟通能力/
/使用过Python，golang/熟悉CSS HTML JS，了解相关前端框架（VUE React）/熟悉linux系统和ANSIBLE自动化部署，熟悉容器技术更佳/学习能力强，自我驱动/-:  周末双休/

/精通Shell或Python等编程脚本 ，至少精通一门编程语言/精通Linux操作系统的维护及日常管理工作，具备服务性能调优 安全监测 故障处理能力/熟悉Nginx HAproxy keepalived lvs的安装配置调优/熟悉互联网基础组件MySQL MongoDB Redis Zookpeer Kafka的安装配置调优/熟悉常用CI/CD工具jenkins gitlab-ci优先/熟悉ELK等开源日志平台的建设/熟悉运维工具:zabbix ansible saltstack/年以上大型平台运维工作经验/
/熟悉autocad，solidworks等，能进行电气图纸设计和简单的机械设计/熟练掌握c++和python语言，有相关的项目开发经历，有windows和linux开发经验/熟悉PLC控制和工业控制系统开发，有自动化设备软件开发经验者优先/
/ 年及以上Java开发经验/ 在网络 操作系统 程序语言 算法 数据结构 数据库等方面具备一定理论基础/ 深入理解JVM Java设计模式 OO思想， 在Java内存管理 性能调优 并行开发等方面具相当经验 精通Java Web 编程 能够编写多线程 socket，IO等相关的高质量代码，熟悉Java单元测试 / 熟悉掌握spring springmvc/struts mybatis/hibernate等框架基础原理，精通其中至少一套组合的应用开发/ 熟悉tomcat webLogic websphere等主流应用服务器之一/ 熟悉MySQL，SQL SERVER，ORACLE 之一，具有良好的sql编写和优化能力/精通B/S结构，掌握JS,JQuery,json,ajax等技术/ 具分布式系统开发经验， 熟悉负载均衡 缓存 消息等相关机制 精通 redis， nginx, kafka，zookeeper 分布式mysql其中一项或数项者优先/ 具微服务经验， 熟悉spring cloud 或者dubbo者优先/ 同时掌握其他主流开发语言者优先，包括并不限于： C++ C# Python NodeJS/ 有大型 超大型互联网应用平台设计 开发经验者优先对手机端APP开发亦有一定程度了解 甚至熟悉者更佳/ 有金融类 钱包类 支付类 电子商务类项目核心功能开发的优先/有数据开放平台或者其他大型项目核心功能开发经验者优先/
/熟悉Java Python Golang中的一种或几种语言/熟悉Mysql和Nosql数据库，熟练掌握数据库结构设计以及数据库性能优化方法/熟练使用Linux，熟悉Nginx配置和优化/熟悉HTTP协议，及TCP协议，并有相关的服务器开发经验/了解常见的系统安全问题和防护方案/有一定的Web前端开发能力/熟练使用GIT，对代码质量有严格要求，重视Code Review，良好的编码习惯和严格的编码规范/较强的逻辑思维能力，学习能力强，有较好的沟通能力，能迅速融入团队/
/弹性上下班 不打卡/创业or合伙人意向欢迎/
/精通HTML CSS JavaScript等Web前端开发技术/精通Ajax DOM XML JSON等相关技术，能使用原生JS编程，精通面向对象/熟悉移动端主流浏览器的适配，对Android与iOS等不同平台的html页面适配充分了解/有前端架构经验，能够在规范 框架 资源管理 研发流程等方面做技术决策/至少熟悉一门非Web前端脚本的语言（如Java PHP Python）/有较强的自学能力和钻研精神，有良好的抗压能力，适应创业公司的快速节奏/
/具有python大数据开发经验优先/ 熟悉tensorflow caffe等机器学习框架，了解机器学习/具有敏锐的分析 判断能力，优秀的表达沟通能力/无学历 性别排除身体健康状态以外其他要求是/
/有——年以上运维经验/精通Linux操作系统以及云服务器维护 网络的安全监控  系统性能管理和调试 网络性能管理/熟悉Shell 或Python语言/熟悉Mysql Mongodb Redis等常用数据库，并对高可用性设计有一定研究与认识/熟悉运维自动化，常用CI/CD工具jenkins运用/熟悉Puppet，Ansible等自动化配置部署有DevOps文化，并在此方面有实战经验优先/有应用系统的体系架构以及设计和实施系统的安全 分布架构 集成经验/良好的管理能力 沟通能力 团队精神和服务意识，能很好地组织并实施技术相关工作/ 具备面对压力，较好的解决问题能力/ 有OpenStack实施和运维经验优先/


/熟悉Linux的常用命令和系统管理及网络配置/精通至少一类后端编程语言（JAVA） /熟悉各类Mysql，Redis，Kafka，Mongo等常用开源软件的使用和运维/优秀的沟通协作能力 分析解决问题能力和学习能力 /有微服务或分布式的软件架构设计 开发和运维经验，能快速定位和调试问题 / 熟悉 docker kubernetes 及相关云原生系统的优先/熟悉shiro,zabbix,redis,mangodb,gitlab,jenkins,openstack,,/熟悉shell编程,python编程/
/
/使用过Python，golang/熟悉CSS HTML JS，了解相关前端框架（VUE React）/ 熟悉linux系统和ANSIBLE自动化部署，熟悉容器技术更佳/学习能力强，自我驱动/
/ 精通并理解Linux操作系统 体系结构 / 精通LVS/Haproxy Nginx JVM Tomcat Varnish/Squid Bind Mysql Redis等应用群集的配置和优化/ 熟练掌握掌握Shell Python Ruby等脚本中的一种或几种，可以使用脚本完成自动化工作/ 精通ganglia/zabbix监控管理工具，有二次开发经验优先/ 熟悉主流的版本控制工具，例如：Svn/Git，可以根据项目需求规划制定版本控制的使用规范/ 熟悉基于Docker/KS在阿里云平台上的计算和服务化/ 熟悉常用的CI/CD持续集成/持续部署工具，例如：Jenkins/ 熟悉ElasticSearch, Logstash  Kibana rsyslog Filebeat/ 熟悉基于Spring Cloud或者Dubbo的微服务架构/ 熟悉或有过基于Django服务框架的开发者优先考虑/ 具备大规模 高可用集群的运维规划设计与实现经验/ 责任心强，积极主动，有良好的沟通能力和团队合作能力/
/年以上传统软件开发经历年以上大数据开发经历 /熟练使用Python Java C/C++等主流开发语言中至少一种 /熟悉Mysql Oracle SQLServer等关系数据库 /熟悉Hadoop Spark等主流大数据框架 /熟练掌握常见Linux shell命令 /较强的学习 逻辑思维和沟通能力良好的英语阅读能力积极主动，思维活跃/能接受全国范围短期出差，出差周期一般为个月左右/有大数据相关项目开发或者学习经验者优先/

/年以上大型网站或网络游戏服务器的管理维护经验/熟悉TCP/IP 路由 交换理论，能够对网络设备进行基础配置/熟悉常见操作系统（Windows Server，Linux）安装，配置，优化/深入理解LVS,Haproxy,Nginx/Tengine原理和优化/熟悉使用常用开源软件，(ELK/Zabbix/Ansible/MySQL/MSSQL/Redis/MongoDB等)对MSSQL集群，MySQL读写分离/高可用，有实际项目经验/具备应对各类攻击，如CC/DDOS等攻击，防护能力，并能提出具体解决方案/具备Python语言开发能力，熟悉shell脚本能够独立完成自动化运维平台的开发，如监控 部署 配置，发版等/熟悉游戏业务逻辑，系统架构，并能对游戏系统架构进行优化/ 有较强的抗压能力 沟通能力 推动能力和较好的服务意识/ 能够接受一定程度的出差/
/熟悉常用的机器学习算法(如SVM/LR/GBDT等)，并能针对不同的场景(如分类 聚类 推荐等)使用不同的算法，具有推荐系统 精准广告 搜索等方面的实际工作经验/熟悉n-gram分析 分词 新词发现 LDA wordvec等，有相关的工程开发经验/ 熟练掌握至少一种编程语言，Java C++ Python等/做事严谨踏实，责任心强，有良好的团队合作精神和沟通协调能力/
/ 良好的计算机及算法基础 积极主动 热爱编程，能吃苦，能承受压力/ 熟悉掌握 Java 或 Python 语言/ 了解面向对象编程/ 有数据库经验（例如MySQL Redis等）优先/
/具有良好的编程 工程实现和调优能力,熟练掌握c/c++,Python/了解深度学习的进展,熟悉MXNET,TENSORFLOW,CAFFE等至少一种深度学习框架,有GPU上模型训练的经验/熟悉物体(人脸 人体 通用目标)检测 跟踪和识别的基本算法,熟悉相关的开源项目/
/精通HTML CSS JavaScript语言，了解HTML CSS的新标准，熟悉JQuery类库，熟练使用一到两种前端调试工具/至少熟练使用过Vue React AngularJS其中一种JS框架/掌握至少一门非前端开发语言（如PHP/Java/Python/Ruby等），并有一定的实战经验/深刻理解Web标准，对前端性能 可访问性 可维护性等相关知识有实际的了解和实践经验/工作积极主动，具有很强的学习能力 对新技术的追求精神 良好的团队合作精神和沟通能力/
/语言&工具：/其他要求：/
/GitHub project star + 以上/参与过开源项目/


/深入理解LINUX系统，熟悉网络设备的基本配置及TCP/IP HTTP协议工作原理/熟悉Linux/unix下各种服务包括HAProxy ntp tcpdump nginx keepalived postfix raid rsync cacti nagios zabbix iptables ansible等应用的使用熟练jetty tomcat管理 配置和优化/熟悉shell/perl/python/php/Java任意一门编程语言/熟悉mysql主从及优化熟悉mongoDB主从设置和Redis主从配置/熟悉分布式存储的配置与管理/熟悉kvm/xen任一种虚拟化产品和架设/熟悉常见linux文件系统和存储设备工作机制/具有很强的故障排查和问题解决能力/ 工作细致踏实，有较强的沟通 执行力强/ 具备互联网产品的大数据压力的服务器架构技术者优先/ 具备有预见规划能力和资深的技术能力/ 具备较强的学习能力，有DevOps经验者优先/
/精通C或C++语言，有良好的面向对象编程思想/具有多线程开发经验，了解同步 互斥等的基本原理和实现方式/熟悉TCP/IP 协议和网络编程，lua python等脚本语言/具有Boost STL开发经验优先/工作认真踏实，沟通能力良好，有金融行业工作背景者优先/
/熟悉Hadoop大数据生态圈，包括但不限于Sqoop Kafka Flume等/有开发经验，精通JAVA及一门以上脚本语言(shell/perl/python等),熟练掌握linux常规命令与工具/
/精通Linux操作系统的维护及日常管理工作，具备服务性能调优 安全监测 故障处理能力/熟悉java golang shell python开发语言中的任意一种/熟悉IPMI V协议，熟悉IDC自动化安装优先/熟悉Nginx Redis Apache Mysql Cacti Nagios Zabbix 等应用环境部署优化/任职年以上运维相关工作经验或大型业务平台超过年经验/
/经验要求:具有年及以上Web前端开发经验/技能要求:/通用要求：/
/  经验&能力：/

/ 两年及以上C/C++开发经验，熟悉OpenCV编程，熟悉计算机图形图像编程，熟悉python计算机视觉编程/ 掌握深度学习原理，能熟练使用Tensorflow框架搭建模型/ 集成图像处理算法到iOS和安卓App/
/拥有Java业务开发经验者优先，对所负责业务的架构理解清晰/熟悉Linux操作系统故障分析和调优/熟悉Spring JPA MyBatis Spring-cloud等常用框架/熟悉但不限于Zookeeper Redis ZeroMQ Kafka Flume等开源框架及产品/有高性能 可扩展 高并发 分布式系统开发 分布式事务处理经验/熟悉Python JS Shell等至少一种脚本语言/具有很强的技术研发和创新能力，能有效把握技术发展方向 /思路清晰，优势的控制与沟通能力，优秀的技术领导能力/
/精通lamp Lnmp架构，至少精通一门（php python nodejs）开发语言，有中大型项目经验者优先/熟悉数据存储技术，具有Mysql或Mongo/Redis等存储优化方面经验/具备一定的开发设计文档编写能力，有平台产品的开发经验者优先/积极主动的特质和思维习惯，有学习进步的主观意愿，优秀的团队协作意识，能承受一定的工作压力/
/ 具有良好的编程经验，熟悉掌握python C/C++ / 具有工业领域指标优化 设备故障检测等机器学习算法的项目经验/ 具有机器学习算法的工程化部署经验/
/结合现网安全产品和平台安全日志数据，输出安全分析报告，帮助客户发现攻击威胁行为，提供持续运营/与客户一起完善并制定相应的安全运营计划及落地/跟踪反馈平台问题及需求，并完整记录，为平台产品优化提供数据支持/
/熟练使用SQL语言，熟悉Mysql sql server等数据库/熟悉Nginx tomcat redis等主流开源软件的安装 配置 故障处理能力 /熟悉Linux命令，能够熟练使用Shell,Python等脚本语言/有责任心，工作踏实认真 积极主动善于思考，学习能力强 /
/扎实的JS CSS基础知识/至少熟悉一种前端主流框架（如：React Vue Angular等），并有实际的非demo性质项目经验/对前端工程化 模块化开发有较深入的理解，并有实践经验/具有良好的沟通能力和团队合作精神，具有优秀的分析 解决问题的能力/对前端技术有持续的热情，能充分利用自身技术帮助团队提升研发效率，提高团队影响力/

/年以上开发经验，掌握Bash脚本，掌握Python/Go等一种或多种开发语言熟练使用Linux系统，熟悉TCP/IP HTTP DNS等协议，有良好的网络 数据传输 安全 计算机体系结构方面的知识/具备体系化的运维理念与技术，有大中型集群系统的基础架构设计 性能测试和优化 可用性保障 安全等方面的经验/具备高可用环境的搭建及维护能力，如Haproxy Keepalived LVS等/熟悉软件交付过程，有实施持续集成 持续构建和部署的实际经验，具备建设灰度发布 蓝绿发布系统的能力/有前端开发知识储备，熟悉Javascript CSS HTML，了解常用的前端框架/了解运维及其他常用开源工具，Zabbix/Nagios，Jenkins，Git，ELK，SaltStack等/熟悉AWS 阿里云的使用，熟悉KVM虚拟化 Docker容器技术，重度GitHub用户优先/
/熟悉linux unix等操作系统，熟悉各种应用服务具备常用软件如nginx tomcat LVS的配置 应用 管理 调优等经验熟悉docker,jekins等/熟练掌握zabbix等监控服务配置 管理 维护/熟悉mysql mangodb redis等数据库相关软件的部署搭建 优化以及备份/熟练掌握shell及python，且有使用python开发过至少一个工具或者项目经验/有高度的责任心 较强的沟通能力和良好的团队合作精神，做事细致，主动性强，善于主动思考问题，并提出自己的解决思路/具备IT安全意识，有大中型运维系统规划/设计/实施/保障的经验优先/

/统计学 计算机 数学等相关专业/熟悉Linux开发环境，至少熟悉掌握Python/Java/Scala其中一种语言/较强的算法基础/有实体抽取 关系抽取，事件抽取等自然语言处理方面经验者优先/熟悉常见的基于深度学习的自然语言处理技术，在顶级自然语言处理领域的会议或者期刊发表过论文者优先/有知识图谱构建经验者优先/有较强的分析问题解决问题能力，工作踏实上进/能够接受及适应在快节奏,测试驱动,持续迭代的工作环境/
/熟练使用Web测试的基本方法 流程，熟悉B/S架构的软件测试流程，熟悉APP测试优先/掌握一种常用的自动化测试工具:Selenium，QTP等/熟悉压力测试 可靠性测试等, 熟练loadrunner jmeter等web压力测试工具/熟练使用常用的测试管理工具：Jira Test Director Bugzilla Bugfree等/有很强的分析能力和定位问题的能力/工作态度认真严谨，做事积极主动，有较强责任心，有较强的表达和沟通能力及文档编辑能力/ 熟悉Java Python JavaScript的一种或几种语言，或脚本语言编程（有Shell/Python/JavaScript等经验均可）优先/ 有大型的网站测试经验 移动互联网产品测试经验优先/ 从事过电商 物流 仓储系统软件开发或测试优先/

/精通掌握使用数据库MYSQL，熟练使用Redis MongoDB Memcache /具备较强的程序部署 调试及程序故障分析能力，已经PHP自动测试流程的编写  /年以上PHP开发经验熟悉大型网站或软件的设计 规划和制作流程，参与过至少一个大型成功项目的开发工作  /熟悉数据库设计，有MySQL Oracle性能优化优先考虑  /熟悉TCP UDP网络协议，对基于CLI模式的PHP开发方式有一定的了解  /熟悉nodejs Python go c其中一种等开发经验优先考虑  备注：公司需要上机测试代码基础能力，请合理安排好时间，以免时间太紧浪费大家的时间，谢谢/
/年以上工作经验，海外或国内知名消金公司专业分析经验者优先/熟悉机器学习算法，例如逻辑回归 决策树 神经网络等算法/对机器学习算法有丰富的项目经验 对文本挖掘有较多的项目经验/熟悉SAS，R，Python等开发工具之一（SAS R更佳）/具备丰富的数据挖掘需求（评分卡，反欺诈等经验优先考虑） 模型开发和实际推广经验/具备丰富的沟通经验和管理能力，具备团队合作精神，能够与具体技术部门人员良好沟通协调，积极推动项目实际落地/能根据实际工作需要接受一定时间比例到固定外地短期出差/
/


/熟练掌握C Java或C++编程，熟悉Linux操作系统/具备良好的语言表达能力以及文字功底/有较强的责任心和团队协作意识/熟悉Hadoop Spark等大数据技术生态圈者优先/熟悉SAS R Python等数据处理常用语言者优先/熟悉Tableau等可视化工具者优先/有数据挖掘 数据分析等数据处理工作经验者优先/有大数据业务培训授课经验者优先/

/精通golang语言编程（至少年的研发经验），掌握HTTPTCP/IP等网络相关技术/熟练掌握 Restful API 接口设计标准及规范/熟悉MySqlRedisMongodbKAFKA等开源中间件/具备高可用高并发分布式系统开发设计或区块链相关经验优先/熟悉Python，C/C++优先/热爱学习，有自我驱动意识，积极主动，责任心强，有很好的抗压能力及团队精神/


/熟练掌握数理统计理论及方法，可熟练应用数据挖掘及机器学习常用算法/熟练使用Mahout\Caffe\Deeplearningj\TensorFlow\SPARK-MLlib\Python\R等一种机器学习工具及数据分析工具/有电信运营商 互联网行业数据分析/挖掘建模经验者优先/
/熟悉掌握sql及性能调优，熟练使用python进行数据处理，或熟悉java scala等其他编程语言优先/熟悉掌握数据仓库实施理论，有大型数据仓库实施经验/有互联网 金融行业经验者优先/大专及以上学历，在数据仓库/大数据开发方面有年以上工作经验/

/学历专业：具有金融 经济 财务 法律类或相关专业本科以上学历/职业资格：熟练使用Office工具，熟练使用SQL R Python SAS等进行数据分析工具尤佳/工作经验：年以上信用卡 小额贷款 消费贷公司反欺诈调查或政策流程经验，熟悉反欺诈工作相关/
/良好的编码习惯 有微信小程序开发经验优先/熟悉常用数据库（Mysql Sqlsever Oracle等）其中一种/熟悉js及jquery框架，熟悉CSS/熟悉JavaEE项目开发流程和规范/对新知识有强烈的学习欲望，愿意学习新的编程语言/能够服从上级领导的安排/
/精通算法设计数据结构/信息抽取 文本摘要 文本分类聚类 语义搜索 推荐系统等相关方向的研究和开发经验/精通java Python scala 至少一门开发语言/较强的分析问题和解决问题的能力，缜密的逻辑思维能力，有攻关疑难的强烈兴趣/有强烈的上进心和求知欲，善于学习新事物/对NLP领域相关机器学习 算法有较深的研究和实践/扎实的数学 统计学基础/
/ 三年以上互联网测试经验，年以上Android/IOS自动化测试经验/ 精通测试流程和测试用例设计方法，能主动进行技术钻研，解决复杂问题和编写自动化测试工具和系统的能力/ 熟悉JAVA/Python至少一门编程语言，熟悉Linux/Unix操作系统/ 熟悉Android/iOS自动化测试工具，如junit robotium monkey monkeyrunner appium UiAutomator等/ 熟悉敏捷项目流程者优先/ 学习能力强，有较强分析 定位和解决问题的能力，具有较强逻辑思维能力和表达能力/ 有很强的质量意识，能严格地遵照测试流程规范开展工作/有管理或带团队经验者优先/
/具有年以上相关工作经验/熟悉主流的大数据平台与工具，如 Spark Hadoop Hive HBase Pig Sqoop MapReduce HDFS Kafka ELK等/熟悉一种以上主流大数据相关编程语言，如Java Python Scala等，熟悉多线程与网络编程/熟悉MongoDB MySQL等数据库系统的架构 部署 配置及开发/有基于容器技术开发微服务的经验及有敏捷软件开发和持续集成/持续交付经验者优先/具备一定的机器学习算法基础，使用过Spark ML，ScikitLearn，TensorFlow，PyTorch等机器学习/深度学习工具优先/具备良好的团队意识和沟通能力，学习能力和主动性强/
/ 熟悉Linux操作系统及常用开源组件，掌握Oracle SQL Server MySQL等数据库之一，能够编写Python/Shell代码者优先/ 有年相关工作经验者优先/ 具有良好的职业素养，责任心强，具有较强的学习能力 沟通协调能力及统筹能力，具良好的服务意识及团队精神/ 适应能力 抗压能力强，能够适应一定强度的出差/ 有过医疗行业技术支持经验者优先/ 迅速适应AI行业的挑战和快速发展中公司的成长节奏/
/精通PHP，了解Python，JAVA 等其他后端开发语言/熟悉常用的设计模式 开源框架以及软件工程的趋势和最佳实践，有大型互联网项目经验或业内知名产品研发经验者优先/熟悉微服务开发框架lumen，或其他微服务框架, 有服务治理的实操经验/熟悉分布式系统基础设施中常用的技术，如缓存 消息中间件 搜索引擎等/熟悉高并发 高可靠性系统的设计 监控和运维等/了解Docker 编排工具 CICD 自动化运维相关技术优先/具备微服务架构经验/具备较强的责任心和良好的学习能力 逻辑思维能力，善于沟通和团队合作，勇于创新和接受挑战/
/熟悉业界主流云计算及大数据相关产品，拥有全栈技术架构设计能力，精通以下至少一类或多类的技术原理和产品架构，如弹性计算 网络 安全 数据库 存储 大数据 人工智能 应用系统等/负责过独立功能或模块的设计和代码实现，具备软件开发流程（需求 设计 开发 持续集成 测试 文档 发布 更新维护等）的实践经验/熟悉Web开发，熟练掌握至少一种编程语言（C，Java等）和一种脚本语言（Python等） /熟悉Linux平台，和相关领域内常用的开源框架/具备结构化思维习惯，至少熟悉一种架构方法论及框架，如TOGAF, ITSA, DODAF等/具备优秀的文档能力，使用文字 图示清楚地表达架构意图，能够熟练编写各类技术文档/具备娴熟的沟通技巧，执行力强，具有优秀的团队合作精神 敬业精神和抗压能力/
/熟悉主流测试方法及理论，掌握主流测试及管理工具/良好的沟通能力及领导力，视野开阔，大局观强，对团队建设和人员培养有清晰的思路和技巧/主动性强，有强烈的责任感及进取精神，优秀的执行力和抗压能力/熟悉至少一门开发或者脚本语言，C++ python优先，有项目实现或者游戏引擎经验尤佳/有棋牌或手机游戏测试经验，有团队管理经验优先/
/   三年以上（含）风险计量分析工作经验，有信用卡总行的工作经验优先/   熟悉R Python专业数据分析软件，熟练掌握SQL Excel Hive等常用工具/   对数据的敏感度高，具备良好的敬业精神，团队协作能力和问题分析处理能力等 /   具有较强的风险管理意识 分析思维能力，执行能力和良好的学习能力 /   具有一定的抗压及自我调节能力/
/有海量日志分析的能力，对告警事件有理解 分析 判断和优化能力/熟悉常见的操作系统和数据库系统的安全检查及加固能够检测和清除windows linux等环境下的木马 后门 rootkit等/ 熟悉集群应用，了解docker  ks mesos等部署管理技术/熟悉常见的针对系统 网络及用户环境等的攻击检测及防御手段，熟悉IPS，IDS，了解DDOS防御方法/熟悉主流安全产品 开源安全工具等的功能 配置及使用/至少掌握Python/php/javascript/bash/perl/ruby/C#等语言的一种或几种，可以编写 编译或修改自动化安全运维程序/熟练应用腾讯云平台，以及蓝鲸 织云等自动化运维系统实施安全高效的运维管理/


/熟练使用Linux基础命令，及Linux系统部署等/熟悉常用网络 服务器 存储设备，熟悉网络环境搭建和故障排除/熟悉Oracle MySQL等常用数据库系统，能够使用SQL语言进行简单查询 更新等操作/熟悉C++或Java开发语言，能够判断程序运行过程中出现的bug产生原因/熟悉tomcat hadoop es和hbase安装部署优先/会编写python脚本/具备良好的沟通协调能力及文档书写能力，能够完成基本的客户需求收集/适应出差，具备良好的学习能力及良好的团队合作精神，工作踏实 细致/




/熟练掌握至少一门编程语言，如 Python Java Go 等/熟练掌握并发编程模型与网络通信编程，熟悉 TCP／IP HTTP 协议/熟练掌握 HTML/CSS/JavaScript 等 Web 技术/熟练掌握关系型与非关系型数据库的使用：MySQL MongoDB 等/熟练掌握分布式系统的技术架构与设施的使用：Kafka zookeeper Hadoop 等/熟悉各种反爬技术，并能够通过多种应对策略（包括但不限于：代理池 模拟登录 验证码处理 浏览器渲染等）来保证数据的持续交付/熟练使用网络流量抓包工具，并有移动端 App 的数据爬取的工程经验/
/具备基础的网络知识，熟悉TCP/IP HTTP等协议/熟悉常见Windows server，Linux server(RHEL CentOS)的运维，能熟练使用Shell/Python/Perl中的至少一种主流脚本语言/熟练操作Oracle，MySQL等主流数据库部署，备份及日常运维/熟悉Zabbix等各类开源监控软件的安装部署/能够独立分析问题 解决问题，具有较强的学习能力，有较高的责任心，善于团队交流与合作/熟悉各种中间件，消息队列配置优化，hadoop集群部署优化，docker，ks等优先考虑/
/能熟练运用MySQL MSSQL中的一种，熟悉以上数据库的体系架构/至少了解一门开发语言，如：java C# python等/有app/web自动化经验更优/了解Loadrunner jmeter等性能测试工具/有接口自动化测试经验/
/熟悉深度学习算法（CNN/LSTM等），熟悉Python和CUDA优先/熟悉常用的深度学习检测 识别 语义分割网络框架，例如Mask-RCNN，FCN，YOLO等/有基于TensorFlow Caffe等至少其中之一的实践项目经验，丰富的神经网络训练 调优经验，包括数据清洗 扩增 样本均衡等数据处理经验，能够从零开始训练一个神经网络/不限工作年限，欢迎有能力的应届硕士同学投递/
/精通shell Python java perl等一种及以上脚本编程语言，有运维平台开发经验者优先/深入理解Linux系统 运维体系结构 项目架构，参与运维体系建设 开发实现自动化构建系统/服务器 网络 系统基础知识扎实/ 工作责任感强 具有良好的沟通能力 服务意识和团队协作精神，较强的学习能力，抗压能力/
/经验要求: 年以上Linux/Unix系统管理经验，具有大型网站或web应用平台运维经验/技能要求:/通用要求：/
/有扎实的编程基础，至少熟练使用SAS R Python等任意一种分析工具并有实际工程经验和能力/熟悉掌握各种模型算法，并能够将数据产品和业务需求等商业问题，转化为可操作的数据模型问题/具有良好的沟通及团队协作能力/具有很强的主动性及学习能力 /

/熟悉掌握Bash脚本，熟悉Python，PHP，NodeJS，Go等一种或多种开发语言 /熟悉MySQL数据库的集群架构 中间件 索引原理与优化 分库等/熟悉elasticsearch搜索引擎环境配置/熟悉Memcache，Redis，MongoDB等一种或多种KV存储/熟练使用Linux系统，熟悉Linux底层原理，熟悉TCPIP HTTP DNS等协议与linux常见服务器配置，有良好的网络 数据传输 安全 计算机体系结构方面的知识/熟悉负载均衡 CDN 对象存储等原理与解决方案 /掌握Web系统环境（Nginx和Apache等）的配置和优化 /熟悉Puppet，Ansible等一种多种运维工具/ 熟悉Zabbix，nangios，pinpoint等一种或多种开源监控工具 / 对Docker等容器技术有一定了解和使用/ 熟练应用Git/

/熟练掌握数理统计理论及方法，可熟练应用数据挖掘及机器学习常用算法/熟练使用Mahout\Caffe\SPARK-MLlib\Python\R等一种机器学习工具及数据分析工具/有电信运营商 互联网行业数据分析/挖掘建模经验者优先/
/熟练掌握前端开发技术(HTML CSS JS Ajax Json)，熟悉各项技术的相关标准/至少了解一个JS游戏引擎/精通javascript，熟悉Vue 框架开发使用流程，了解流行的 React AngularJS 等JavaScript开发框架，并有过任意一种框架相关的项目经验/熟悉微信小程序开发，熟悉一种小程序开发框架者优先/精通WC标准，可用性 易用性 浏览器兼容性，熟悉HTML和CSS，对新兴Web标准和Web发展趋势有良好洞察力和求知欲/对任意一门Web后台语言（如PHP JAVA C Python ）有一定的了解优先/
/熟悉Java/Python等语言及相关算法和数据结构/熟练Linux操作，熟练掌握HTTP协议，了解大型爬虫框架等/熟悉MySQL等关系型数据库，有NoSQL，Redis等工作经验者优先/对计算机体系结构 分布式系统 协程和网络编程有深入了解/具备敏捷开发经验，熟练使用SVN和Maven/
/精通常见Web攻击和防御方法/熟悉企业级防火墙，F，核心路由等的安全配置和调优   /熟悉常见的安全漏洞（OWASPTOP ）等分析与防范方法/熟悉php/java/python/c/c++等至少其中一种开发语言,并能在必要时编写相应的脚本工具  /对安全技术有浓厚的兴趣，具备优秀的安全意识及风控意识   /具备良好的团队协作能力，学习主动解决问题能力及具备正向价值观，善于沟通 乐于分享   /有相关安全产品开发及github开源安全产品开发经验者优先/有CSA云安全认证,CISA,CISSP,Security+等信息安全认证及互联网公司安全从业经历者优先 /
/能熟练使用Git或者SVN管理项目源代码/精通HTML CSS JS等基本技能，能够完成绝大部分前端需求/熟练掌握MySQL数据库的增删改查等常用操作/熟悉shell 或者python命令，可以编写常用脚本/常用的Nginx优化 MySQL优化，熟悉Memcache Redis中的一种/分析网站性能，能够提出有效的优化方案/熟悉多重缓存实现机制和策略/有Restful API 设计 开发 测试 文档编写经验优先/
/ 熟练掌握计算机算法的应用和调优(GBDT/SVM/随机森林等等)/ 至少熟练掌握一门编程语言（Java Python shell），对数据结构和算法设计有较为深刻的理解/ 熟悉数据库 数据仓库，有海量数据处理经验/ 具有医疗卫生 机器学习和数据挖掘领域的理论背景和实践经验者优先/ 具有较强的发现问题 分析问题和解决问题的能力，有良好的文档编写能力/ 研究生及以上学历，至少年以上工作经验，对商业数据挖掘技术 医疗领域有浓厚的兴趣/



/数学 计算机技术等相关专业/精通大数据（MPPDB Hadoop）等相关技术，并精通Hbase/Hive/MR/Spark/Solr/storm/flink其中的任意个组件技术/至少精通主流数据库技术Oracle/PostreSql/MySQL/SQL server中的一种，精通数据仓库理论架构，包括但不限于数据调度 ETL 元数据管理 数据监控/精通-门开发语言（JAVA/Python/Scala/Shell）/具有比较突出的组织 策划 协调及沟通能力，有强烈的结果导向和客户导向/
/经验要求: 年以上DBA运维相关工作经验/技能要求:/通用要求：/
/根据测试计划，执行功能测试任务，并对缺陷进行分析与跟踪，推动问题解决/完成功能测试报告，进行相关总结和分享/执行或配合执行兼容性测试 压力测试 性能测试等测试工作，编写测试报告/进行版本发布，编写操作说明，协助产品的升级与部署，保障线上产品稳定/
/至少熟练掌握golang/Java／Python其中一种语言，良好的编码风格及编码能力/熟悉高并发 高性能的分布式系统的设计及应用，熟悉常用数据存储，各种数据处理技术优先/有年以上编程开发经验，有丰富的爬虫和反爬虫经验者优先/
/能熟练运用各种统计方法对工业环保数据进行统计分析/熟悉python和数据库，了解R语言/有统计相关经验 数据分析和海量数据挖掘经验者优先/理解数据挖掘常用十大算法，（如聚类 决策树 随机森林 神经网络等），有实际项目经验/大数据工业数据，环保背景优先/
/熟悉软件测试理论和方法，熟悉互联网行业测试环境及相关技术/熟悉PYTHON或Java语言，熟练使用RobotFramework框架者优先/对软件测试有浓厚的兴趣和丰富的经验，有很强的分析能力和定位问题的能力/对产品的需求 设计问题敏感，有较强的敏锐度，善于提出设计中的问题，便提出改进建议/态度端正 服从工作安排 质量意识强 严谨心细 责任心强/
/熟悉linux平台 shell编程,熟悉常用的爬虫框架如scrapy/对数据结构和算法设计有较为深刻的理解，具有良好的沟通能力和团队合作意识/熟悉正则表达式，Jsoup XPATH，CSS选择器，能够从结构化和非机构化的数据中获取信息,了解各种Web前端技术，包括HTML／XML／JavaScript／AJAX／JSON等/实现大规模文本 图像 视频数据的抓取工作，掌握简单的验证码识别技术 AJAX网页采集技术 以及爬虫高并发技术，流式处理经验者优先/熟练使用Mysql Mongodb等SQL NoSQL数据库，精通数据结构和算法设计，有分布式编程经验者优先/对主流爬虫架构有深入研究，具有成熟爬虫工具的设计及运维经验/具备信息检索 web挖掘等搜索引擎相关知识，有从事网络爬虫 网页去重 网页信息抓取 网页分类中任一种程序开发经验/
/熟悉数据建模分析 机器学习 数据可视化或大数据平台者优先/优秀的业务理解能力与沟通能力，能跨部门合作沟通，对数据敏感/学习与解决问题能力强，积极乐观 主动踏实，责任心强/精通SQL，熟悉Python或Scalar语言，能独立提取分析所需数据/熟悉Java，对数据结构和算法设计有较为深刻的理解/
/ 至少具备Struts Spring Hibernate Ibatis，JPA 中的两种开发经验，熟悉MVC 编程模式/ 熟悉shiro,spring security,jwt授权体系/ 熟悉常用数据库，有基于Oracle Mysql之一的设计和开发/ 熟悉redis,memcached等缓存技术/熟悉linux系统，掌握一门常用脚本语言(如shell,perl,python等)/熟悉html，css，javascript ajax，jquery等前端技术/熟悉react ,vue等框架优先/
/掌握数据分析基本理论方法，熟悉数据挖掘常用算法，至少熟练使用SPSS Python R等一种数据挖掘方法/有电信运营商 互联网行业数据分析/挖掘建模经验者优先/对用户行为研究有深入了解，咨询行业背景优先/
/ 熟悉 Linux 系统，熟悉 Internet 基本协议/ 熟练使用爬虫相关技术，如scrapy beautifulsoup 正则表达式 XPath CSS 选择器等，能够从结构化的和非结构化的数据中提取信息/ 熟悉mysql数据库，SQL语言/有app爬虫 反爬机制研发经验优先/
/很强的学习 分析和解决问题能力，良好的团队意识和协作精神，有较强的内外沟通能力/对数据有足够的敏感度，具备必要的产品管理意识与产品设计能力，对互联网用户端产品有良好的感觉/精通Java，有良好的面向对象思想，熟悉Python/R编程等语言优先/有大数据项目 数据仓库 数据分析及数据挖掘等经验者优先/
/经验要求: 年以上呼叫中心语音平台厂商工程师相关工作经验/技能要求:/通用要求：/
/专业：经济学类 计算机类专业 /专业技能：熟练使用SQL,R,Python/工作能力：优秀的表达 沟通 学习与协调能力，抗压能力强/语言能力：英语水平四级/工作经验：年及以上规则分析或模型分析经验/
/具备大型互联网电商企业的用户画像/商品推荐/搜索系统经验/在特征工程 模型评估 模型上线等方面具备充分的实践经验/具有扎实的统计学 数据挖掘相关知识，熟悉数据仓库和数据挖掘的相关技术/精通Python/Java/R等至少一门语言/学习能力强，对商业和业务逻辑敏感/对海量数据挖掘分析有浓厚兴趣，了解Hadoop及Spark生态圈相关技术,具备分布式机器学习相关经验/

/熟悉unix/Linux, Oracle, Mysql 相关技能 /至少有java或者Python-年的 coding经验 /具备app测试经验/熟悉性能测试工具比如LoadRunner JMeter，有搭建性能测试自动化平台经验者优先考虑/能在压力下工作，接受挑战，乐意学习，积极为团队做出贡献，具有良好的团队合作精神和沟通 技能/

/ 熟悉NLP相关算法，在其中至少一个方向上有较深入的研究 /具有NLP算法模块在产品中的上线经验，熟悉NLP工程化应用/具有良好的编程经验，熟悉掌握python C/C++/
/有良好的编程习惯和算法基础/了解各种Web前端技术，包括XHTML/XML/CSS/JavaScript/AJAX等/熟悉正则表达式和XPATH，能够从结构化或非结构化数据中获取信息/精通MySQL或PostgreSQL/熟悉Redis或MongoDB/了解Linux 服务端的使用/了解go语言优先/工作认真责任心强，良好的沟通和团队协作能力/ 有大数据相关工作经验优先/
/ 了解网络 云计算 容器方面的知识/良好的沟通能力和协调能力，较强的服务意识/本岗位有人带，但是要有非常强的责任心和自主学习的意识有非常好的独立解决问题的能力/拥有Python开发经验者优先，有自动化运维经验者优先/

